::placeholder{
    color: white;
    font-weight: 600;
}

.highw{
    font-weight: 700;
}

#ficha{
    font-size: xx-large;
    font-weight: 600;
}
#nombre{
    font-size: x-large;
}
#account{
    font-size: 200px;
}
#addclase{
    border: 1px solid black ;
}
.buttonic{
    cursor:pointer;
    border:none;
    background: white;
}